/* Estilo para la tarjeta */
.card {
    width: 100%; /* Ocupa todo el espacio disponible */
    max-width: 100%; /* Limita el ancho máximo */
    height: 600px; /* Altura fija para la tarjeta */
}

/* Estilo para la imagen */
.card-image {
height: 70%; /* La imagen ocupa el 70% de la altura de la tarjeta */
overflow: hidden; /* Asegura que la imagen no sobresalga del contenedor */
display: flex; /* Necesario para que la imagen ocupe el 100% del contenedor */
flex-direction: row;
justify-content: center;
}

/* Hacer que la imagen se ajuste sin deformarse */
.card-image img {
height: 100%; /* Hace que la imagen ocupe todo el contenedor */
}

/* Estilo para el contenido */
.card-content {
height: 30%; /* El contenido ocupa el 30% restante */
display: flex;
flex-direction: column; /* Asegura que el contenido se distribuya bien */
padding-bottom: 0px;
}

.card-footer {
display: flex;
justify-content: space-between;
}

#container-principal {
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
}