.column-box {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
}

#portadaId {
    flex-grow: 1;
}

.bg-image-1 {
  background: rgba(128, 128, 128, 0.5) url("/assets/hombre.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-blend-mode:multiply;
}

.bg-image-2 {
  background: rgba(128, 128, 128, 0.5) url("/assets/mujer-2.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-blend-mode:multiply;
}

.overlay {
  padding: 20px;
  border-radius: 8px;
}